@model GDEXMSS.Models.CombinedProductReview
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Start Blog Single -->
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-detail">
                                <h2>@Model.product.name</h2>
                                <h4>RM @Model.product.unitCost</h4>
                                <div class="content">
                                    @Model.product.description
                                </div>
                            </div>
                            <div class="blog-meta">
                                <span class="author"><a href="#"><i class="fa fa-star"></i>5 stars</a><a href="#"><i class="fa fa-comments"></i>Reviews (15)</a><a href="#"><i class="fa fa-bar-chart "></i>@Model.product.quantity units left</a></span>
                            </div>
                            <div class="image">
                                <img src="@Model.product.imagePath" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="comments">
                    @if (Model.listReviews != null)
                    {
                        <h3 class="comment-title">Review (@Model.listReviews.Count)</h3>
                            foreach (var review in Model.listReviews)
                            {
                                <!-- Single Comment -->
                                <div class="single-comment">
                                    @*<img src="https://via.placeholder.com/80x80" alt="#">*@
                                    <div class="content">
                                        <h4>@review.userID <span>At @review.reviewDT</span></h4>
                                        <p>@review.reviewComment</p>
                                    </div>
                                </div>
                                <!-- End Single Comment -->
                            }
                    }
            else
            {
                <h3 class="comment-title">No review</h3>
            }

                </div>
            </div>
        </div>
        <p></p>
    </div>
</section>
<!--/ End Blog Single -->
