@model IEnumerable<GDEXMSS.Models.productCategory>
@{
    ViewBag.Title = "Categ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <!-- Start Checkout -->
    <section class="shop checkout section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="navbar nav ml-auto">
                                <li class="mr-auto p-2">
                                    <h2 class="card-title">Category List</h2>
                                </li>
                                <li class="p-2">
                                    @Html.ActionLink("Add New Category", "Add", "Category", null, new { @class = "btn bg-primary" })
                                </li>
                                <li class="p-2">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.categoryID)</th>
                                        <th>@Html.DisplayNameFor(model => model.name)</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.categoryID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @{
                                                    if (item.isExist == true)
                                                    {
                                                        @Html.ActionLink("Deactivate", "Edit", new { categoryID = item.categoryID, actions = "deactivate" }, new { @class = "text-danger" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Activate", "Edit", new { categoryID = item.categoryID, actions = "activate" }, new { @class = "text-success" })
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @* Route value more than 1? how *@
                                                @Html.ActionLink("Edit", "Edit", new { categoryID = item.categoryID, actions = "edit" }, new { @class = "badge bg-primary" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Checkout -->