@model GDEXMSS.Models.combinedOrderList
@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <section class="shop checkout section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @using (Html.BeginForm("History", "Order", FormMethod.Post, new { id = "sortForm", @class = "form-group" }))
                            {
                                <ul class="navbar nav ml-auto">
                                    <li class="mr-auto p-2">
                                        <h5 class="card-title"><b>Order History</b></h5>
                                    </li>
                                    <li class="p-2">
                                        <div style="width:220px">
                                            @Html.DropDownList("Sortby", new SelectListItem[]
                                            {
                                                 new SelectListItem() { Text = "Sort By", Value="0", Disabled = true, Selected  = true },
                                                 new SelectListItem() { Text = "Date (Ascending)", Value = "dateasc" },
                                                 new SelectListItem() { Text = "Date (Descending)", Value = "datedesc" },
                                                 new SelectListItem() { Text = "Price (Ascending)", Value = "priceasc" },
                                                 new SelectListItem() { Text = "Price (Descending)", Value = "pricedesc" },
                                                 new SelectListItem() { Text = "Processing", Value = "processing" },
                                                 new SelectListItem() { Text = "Sent", Value = "sent" },
                                                 new SelectListItem() { Text = "Received", Value = "received" },
                                                 new SelectListItem() { Text = "Received", Value = "reviewed" } },
                                                 new
                                                 {
                                                     @onchange = "document.getElementById('sortForm').submit();",
                                                     @class = "form-group"
                                                 })
                                        </div>
                                    </li>
                                    <li class="p-2">
                                        <div class="input-group input-group-sm" style="width: 230px;">
                                            <input type="text" name="query" class="form-control" placeholder="Search" value="@Session["query"]">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.order.createdDT)</th>
                                        <th>@Html.DisplayNameFor(model => model.order.orderID)</th>
                                        <th>@Html.DisplayNameFor(model => model.order.amountPaid)</th>
                                        <th>Tracking Number</th>
                                        <th>Items</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listOrder)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.createdDT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.orderID)
                                            </td>
                                            <td>
                                                RM
                                                @Html.DisplayFor(modelItem => item.amountPaid)
                                            </td>
                                            <td>

                                                @{
                                                    if (item.consignment == null)
                                                    {
                                                        <h5><span class="badge bg-primary">Processing</span></h5>
                                                    }
                                                }
                                                <h4><a class="badge bg-warning text-white" onclick="linkTrack(this.innerText)">@Html.DisplayFor(modelItem => item.consignment)</a></h4>
                                                <script src="//www.tracking.my/track-button.js"></script>
                                                <script>
                                                    function linkTrack(num) {
                                                        TrackButton.track({
                                                            tracking_no: num
                                                        });
                                                    }
                                                </script>
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var cart in Model.listItems)
                                                    {
                                                        if (cart.orderID == item.orderID)
                                                        {
                                                            <li>@cart.productName x @cart.quantity</li>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    if (item.consignment == null)
                                                    {
                                                        @Html.ActionLink("Check", "Receipt", "Products", new { orderID = item.orderID }, new { @class = "badge bg-primary text-white" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Check", "Receipt", "Products", new { orderID = item.orderID }, new { @class = "badge bg-primary text-white" })
                                                        if (item.status != "received")
                                                        {
                                                            if (item.status == "reviewed")
                                                            {
                                                                //allow the user to click receive button. change the order status from 'sent' to 'received'
                                                                @Html.ActionLink("Return", "Return", "Order", new { orderID = item.orderID }, new { @class = "badge bg-secondary text-white" })
                                                            }
                                                            else
                                                            {
                                                                //allow the user to click receive button. change the order status from 'sent' to 'received'
                                                                @Html.ActionLink("Received", "Received", "Products", new { orderID = item.orderID }, new { @class = "badge bg-warning text-white" })
                                                            }


                                                        }
                                                        else
                                                        {
                                                            //allow the user to review the user. redirect user to review page
                                                            @Html.ActionLink("Review", "Review", "Order", new { orderID = item.orderID }, new { @class = "badge bg-danger text-white" })

                                                        }

                                                    }
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>