@model GDEXMSS.Models.combinedOrderList
@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <section class="shop checkout section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="navbar nav ml-auto">
                                <li class="mr-auto p-2">
                                    <h2 class="card-title">Order History</h2>
                                </li>
                                <li class="p-2">
                                    <div class="form-group form-group-sm" style="width: 210px;">
                                        <select name="state-province" id="state-province">
                                            <option selected="selected" disabled>Sort by</option>
                                            <option>Default</option>
                                            <option>ID (Ascending)</option>
                                            <option>ID (Descending)</option>
                                            <option>Delivering</option>
                                            <option>Cancelled</option>
                                            <option>Delivered</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="p-2">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.order.createdDT)</th>
                                        <th>@Html.DisplayNameFor(model => model.order.orderID)</th>
                                        <th>@Html.DisplayNameFor(model => model.order.amountPaid)</th>
                                        <th>Tracking Number</th>
                                        <th>Items</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listOrder)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.createdDT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.orderID)
                                            </td>
                                            <td>
                                                RM
                                                @Html.DisplayFor(modelItem => item.amountPaid)
                                            </td>
                                            <td>
                                                <h4><a class="badge bg-warning text-white" onclick="linkTrack(this.innerText)">@Html.DisplayFor(modelItem => item.consignment)</a></h4>
                                                <script src="//www.tracking.my/track-button.js"></script>
                                                <script>
                                                    function linkTrack(num) {
                                                        TrackButton.track({
                                                            tracking_no: num
                                                        });
                                                    }
                                                </script>
                                            </td>
                                            <td>
                                                @{ 
                                                    foreach(var cart in Model.listItems)
                                                    {
                                                        if (cart.orderID == item.orderID)
                                                        {
                                                            <li>@cart.productName x @cart.quantity</li>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink("Check", "Receipt", "Products", new { orderID = item.orderID }, new { @class = "badge bg-primary text-white" })
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>