@model GDEXMSS.Models.combinedSalesReport
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Start Checkout -->
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-sm-12 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="row d-flex">
                            <div class="p-2"><h5>Total Sales</h5></div>
                        </div>
                        <div class="row d-flex">
                            <div class="ml-auto p-2"><h5>RM @string.Format("{0:N2}", TempData["TotalSale"]) </h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="row d-flex">
                            <div class="p-2"><h5>Total Successful Order</h5></div>
                        </div>
                        <div class="row d-flex">
                            <div class="ml-auto p-2"><h5>@TempData["TotalOrder"] orders</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="row d-flex">
                            <div class="p-2"><h5>Total Product Sold</h5></div>
                        </div>
                        <div class="row d-flex">
                            <div class="ml-auto p-2"><h5>@TempData["TotalProductsSold"] items</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <div class="row d-flex">
                            <div class="p-2"><h5>Total Points Claimed</h5></div>
                        </div>
                        <div class="row d-flex">
                            <div class="ml-auto p-2"><h5>@TempData["TotalPoints"] points </h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 450px;">
        <div id="chartContainer">
            <script type="text/javascript">

                window.onload = function () {
                    var chart = new CanvasJS.Chart("chartContainer", {
                        theme: "light2",
                        animationEnabled: true,
                        title: {
                            text: "Items sold for every product"
                        },
                        data: [
                            {
                                dataPoints: @Html.Raw(ViewBag.DataPoints) ,
                                type: "column"//change type to bar, line, area, pie, etc
                            }
                        ]
                    });
                    chart.render();
                };
            </script>
        </div>
    </div>
    
</section>
<!--/ End Checkout -->