@model IEnumerable<GDEXMSS.Models.user>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <!-- Start Checkout -->
    <section class="shop checkout section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="navbar nav ml-auto">
                                <li class="mr-auto p-2">
                                    <h2 class="card-title">User List</h2>
                                </li>
                                <li class="p-2">
                                    <div class="form-group form-group-sm" style="width: 210px;">
                                        <select name="state-province" id="state-province">
                                            <option selected="selected" disabled>Sort by</option>
                                            <option>Employee</option>
                                            <option>User</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="p-2">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User ID</th>
                                        <th>User Type</th>
                                        <th>Fullname</th>
                                        <th>Email Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int rowNo = 0; }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1) </td>
                                            <td>@Html.DisplayFor(modelItem => item.userID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.user_type)</td>
                                            <td>@Html.DisplayFor(modelItem => item.fullname)</td>
                                            <td>@Html.DisplayFor(modelItem => item.email)</td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { userID = item.userID, actions = "edit" }, new { @class = "text-primary" })
                                                @{
                                                    if (item.isExist == true)
                                                    {
                                                        @Html.ActionLink("Deactivate", "Edit", new { userID = item.userID, actions = "deactivate" }, new { @class = "text-danger" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Activate", "Edit", new { userID = item.userID, actions = "activate" }, new { @class = "text-success" })
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Checkout -->