@model GDEXMSS.Models.CombinedListWalletUser
@{
    ViewBag.Title = "User Wallet List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <!-- Start Checkout -->
    <section class="shop checkout section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="navbar nav ml-auto">
                                <li class="mr-auto p-2">
                                    <b>
                                        <h2 class="card-title">User Points List</h2>
                                    </b>
                                    <br />
                                    <h5 class="card-title" style="font-style: italic;">@ViewBag.Message</h5>
                                </li>
                                <li class="p-2">
                                    @using (Html.BeginForm("UserList", "Wallet", FormMethod.Post, new { id = "Form1", @class = "form-group" }))
                                    {
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="query" class="form-control" placeholder="Search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Name</th>
                                        <th>Available Points</th>
                                        @*<th>Available e-Wallet</th>*@
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listUser)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.userID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fullname)
                                            </td>
                                            @foreach (var wallet in Model.listWallet)
                                            {
                                                if (wallet.userID == item.userID)
                                                {
                                                    <td>
                                                        @Html.DisplayFor(modelWallet => wallet.availablePoints)
                                                    </td>
                                                    @*<td>
                                        RM
                                        @Html.DisplayFor(modelWallet => wallet.amountRM)
                                    </td>*@
                                                    <td>
                                                        @* Route value more than 1? how *@
                                                        <h5>
                                                            @Html.ActionLink("Add Points", "Topup", new { walletID = wallet.walletID }, new { @class = "badge bg-primary" })
                                                        </h5>
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <!-- Modal -->
                        <div class="modal fade" id="pointsAdded" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body d-flex align-items-center">
                                        <h5>Points successfully added</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Checkout -->