<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link rel="icon" type="../image/png" href="images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet --
    <!--ADDED adminLTE-->
    <link rel="stylesheet" href="~/Content/css/adminltev2.css" runat="server" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" runat="server">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.min.css" type="text/css" runat="server">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/lib/font-awesome/css/all.css" type="text/css" runat="server">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.min.css" type="text/css" runat="server">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/Content/css/themify-icons.css" type="text/css" runat="server">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/css/niceselect.css" type="text/css" runat="server">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" runat="server">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/Content/css/flex-slider.min.css" type="text/css" runat="server">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/css/owl-carousel.css" type="text/css" runat="server">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" runat="server" type="text/css">
    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/Content/css/reset.css" type="text/css" runat="server">
    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" runat="server">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" runat="server">
</head>

<body class="js">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="fa-solid fa-headphones-simple"></i> +60 9620 3006</li>
                                <li><i class="fa fa-solid fa-envelope"></i> support@gdexpress.com</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="fa fa-solid fa-map-pin"></i> Branch location</li>
                                @if (Session["UserID"] != null)
                                {
                                    <li><i class="fa fa-solid fa-user"></i> <a href="#">@Session["Name"].ToString()</a></li>
                                }
                                <a>@Html.ActionLink("Logout", "Logout", "Administrator")</a>

                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="https://localhost:44319/Employee/New"><img src="https://seeklogo.com/images/G/gdex-logo-6838448C0F-seeklogo.com.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <div class="mobile-nav"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Products" ? "active" : "")">
                                                    <a href="#">Product<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("Add new product", "Add", "Products")</li>
                                                        <li>@Html.ActionLink("Product List", "List", "Products")</li>
                                                    </ul>
                                                </li>
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Order" ? "active" : "")">
                                                    <a href="#">Order<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("Incoming Order", "Incoming", "Order")</li>
                                                        <li>@Html.ActionLink("Order History", "List", "Order")</li>
                                                    </ul>
                                                </li>
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                                                    <a href="#">User<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("Employee Application", "List", "User")</li>
                                                        <li>@Html.ActionLink("User List", "List", "User")</li>
                                                    </ul>
                                                </li>
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active" : "")">
                                                    <a href="#">Reporting<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("Sales & Report", "Sales", "Reports")</li>
                                                    </ul>
                                                </li>
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Wallet" ? "active" : "")">
                                                    <a href="#">Wallet & Points<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("User List", "UserList", "Wallet")</li>
                                                    </ul>
                                                </li>
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Category" ? "active" : "")">
                                                    <a href="#">Category<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("Category List", "List", "Category")</li>
                                                        <li>@Html.ActionLink("Add New Category", "Add", "Category")</li>
                                                    </ul>
                                                </li>
                                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Analysis" ? "active" : "")">
                                                    <a href="#">Analysis<i class="fa fa-solid fa-chevron-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>@Html.ActionLink("Product Analysis", "Index", "Analysis")</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="#">@(ViewContext.RouteData.Values["Controller"].ToString())<i class="fa fa-solid fa-arrow-right"></i></a></li>
                            <li class="active"><a href="#">@(ViewContext.RouteData.Values["Action"].ToString())</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Start Checkout -->
    @RenderBody()
    <!--/ End Checkout -->
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <p class="text">Established in 1997, GD Express (GDEX) has grown steadily spanning over 150 stations in Malaysia and Singapore. GDEX is listed on the Main Board of Bursa Malaysia with 2 main operating segments, namely, Express Delivery and Logistics.</p>
                            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Customer Service</h4>
                            <ul>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>Get In Tuch</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>No 19 Jalan Tandang,</li>
                                    <li>46050 Petaling Jaya,</li>
                                    <li>Selangor Darul Ehsan Malaysia</li>
                                    <li>+03-77856818</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <div class="copyright">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="left">
                                <p>Copyright © 2020 <a href="http://www.gdexpress.com" target="_blank">GD Express Merchandise Shop System</a> - All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right">
                                <p>Download our app</p>
                                <div class="logo">
                                    <a href="index.html"><img src="http://assets.stickpng.com/images/5a902dbf7f96951c82922875.png" alt="logo" width="100" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /End Footer Area -->
    <!-- Jquery -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/Content/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Content/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Content/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Content/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/Content/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/Content/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Content/js/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/Content/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Content/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/Content/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Content/js/easing.js"></script>
    <!-- Active JS -->
    <script src="~/Content/js/active.js"></script>
</body>

</html>


